<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Flat Manager</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="logo">Flat Manager</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" id="menu">

        </div>
    </div>
    <div class="row">
        <div class="col" id="flat-table">
            <table class="table table-bordered table-success">
                <thead>
                <tr>
                    <th scope="col" colspan="6">Finanse</th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Data</th>
                    <th scope="col">Mieszkanie</th>
                    <th scope="col">Wartość</th>
                    <th scope="col">Uregulowane</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <a href="flats.html">Powrót</a>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="js/finance.js"></script>
</html>